* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.container-charts {
    background-color: #f5f5f5;
    width: 100%;
}

/* div.dashboard-content {
    margin-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
} */

.dashboard-flex-parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    margin: 10px;
    background-color: #F8F8FF;
}

.dashboard-box:hover {
    transition: 0.5s;
    box-shadow: 0 0 1rem rgba(156, 156, 156, 0.4);
    transform: scale(1.05);
}

div.box-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

div.box-icon svg {
    font-size: 35px;
}

div.value {
    text-transform: uppercase;
    font-size: 16px;
}

div.type {
    margin-top: 3px;
    font-size: 15px;
}

.box-icms {
    color: #5fa6f1;
}

.box-ipva {
    color: #9fa5aa;
}

.box-outros {
    color: #b08dcc;
}

.box-itcd {
    color: #60e7bc;
}

.box-irrf {
    background-color: rgba(106, 133, 223, 0.1);
    color: #33b6ca;
}

.box-taxas {
    background-color: rgba(106, 133, 223, 0.1);
    color: #f8dc86;
}

.flex-icms {
    background-color: #007bff;
    border-radius: 6px;
    color: white;
    text-align: center;
}

.flex-ipva {
    background-color: #6c757d;
    border-radius: 6px;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.flex-itcd {
    background-color: #28a745;
    border-radius: 6px;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.flex-irrf {
    background-color: #17a2b8;
    border-radius: 6px;
    color: white;
    padding: 10px;
    text-align: center;
    padding-top: 10px;
}

.flex-taxas {
    background-color: #ffc107;
    border-radius: 6px;
    color: white;
    padding: 10px;
    text-align: center;
    padding-top: 10px;
}

.flex-outros {
    background-color: #6f42c1;
    border-radius: 6px;
    color: white;
    text-align: center;
    padding-top: 10px;
}

/* --------------------------------------- */

/*   Garificos  */

/* --------------------------------------- */

.dashboard-flex-parent-arrecada {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
    gap: 15px;
    padding: 10px;
    margin: 10px;
    height: 480px;
    /* border: 1px solid red; */
}

.dashboard-box-arrecada {
    border-radius: 8px;
    color: #f5f5f5;
    background-color: #F8F8FF;
}

/* -------------------------------- */

.dashboard-flex-parent-repasse {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
    gap: 15px;
    height: 480px;
    padding: 10px;
    /* border: 1px solid #007bff; */
}

.dashboard-box-repasse {
    border-radius: 8px;
    margin: 10px;

    color: #f5f5f5;
    background-color: #F8F8FF;
    /* padding: 10px; */
}

.charts-box-remessa {
    background-color: #F8F8FF;
}

.entradas-imposto {
    display: grid;
    grid-template-columns: 1.6fr 5fr;
    gap: 15px;
    margin: 10px;
    height: 500px;
    border: 1px solid #ffee00;

}

.charts-box-imposto {
    border-radius: 8px;
    color: #f5f5f5;
    background-color: #F8F8FF;
    padding: 10px;
}

.entradas-repasse {
    display: grid;
    grid-template-columns: 1.6fr 5fr;
    gap: 15px;
    margin-top: 15px;
    margin: 10px;
    padding: 10px;
    height: 700px;
    border: 1px solid #d40b98;

}

.remesa {
    border-radius: 8px;
    color: #f5f5f5;
    background-color: #F8F8FF;
    padding: 10px;
}

form {
    margin: 10px;
    padding: 10px;
}

form.input {
    padding: 15px;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    outline: 0;
}

@media (max-width: 1080px) {
    .dashboard-flex-parent-arrecada {
        display: flex;
        flex-direction: column;
        height: 340px;
    }
    .dashboard-flex-parent-repasse {
        display: flex;
        flex-direction: column;
        height: 380px;
        align-items: center;
        /* justify-items: stretch; */
        /* flex-basis: auto; */
    }
    .entradas-imposto {
        display: flex;
        flex-direction: column;
        height: 400px;
    }
    .entradas-repasse {
        display: flex;
        flex-direction: column;
        height: 400px;
    }
}