*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   
}
.container {
    border: 1px red solid;
    background-color: #cecbca;
    /* height: 200px;  */
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    /* flex-grow: 0; */

}
.entradas {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    width: 49%;
    height: 200px;
    padding-left: 10px;
    padding-right: 80px;
    margin: 20;
    background-color:rgb(241, 223, 199);

}

div.charts-Content {
    background-color: #faf6f5;
    height: 60%;
    /* border: 1px solid red; */


}
.charts-flex-parent {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: space-around;
    height: 90%;


}
.charts-box {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-between;
    width: 45%;
    background-color:rgb(241, 223, 199);
}


form.input {
    padding: 15px;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    outline: 0;
}

/* html, body {
    margin: 50; 
    padding: 10;
    
    background: #dce1e2;
    font-family: 'Roboto';
} */

/* h1 {
    padding-left: 15px;
    color: white;
}

input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0;
}

.panel {
    position: absolute;
    width: 90%;
    transform: translate(5%);
    border-radius: 8px;
    box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.5);
    overflow: hidden;
}

.input-bar {
    display: flex;
}

.input-bar > select {
    padding: 15px;
    background: white;
    font-size: 16px;
    border: none;
    outline: 0;
    -webkit-appearance: none;
    border-radius: 0px;
}

.container {
    height: 800px;
    margin-left: 10px;
    margin-right: 10px;
    background: white;
    border: 1px solid gainsboro;
    overflow: auto;
}


.get {
    background: #40739e;
    font-size: 18px;
    color: white;
    padding: 15px;
    z-index: 10;
    cursor: pointer;
}

.content {
    padding: 20px 30px 20px 30px;
} */