*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   }
   

div.container-charts {
    background-color: #f5f5f5 
}

div.dashboard-content {
    /* border: 1px solid red; */
    padding: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;

}
.dashboard-flex-parent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


}
.dashboard-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 14%;
    height: 130px;
    /* max-width: 120; */
    border-radius: 6px;
    /* background-color: white; */
    color:white

}
.dashboard-box:hover {
    transition: 0.5s;
    box-shadow: 0 0 1rem rgba(156,156,156,0.4);
    transform: scale(1.05);
}




div.box-icon {
    /* width: 50px;
    height: 50px;
    border-radius: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rebeccapurple; */
    margin-top: 5px;
}
div.box-icon svg {
    font-size: 35px;

}
div.value {
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 20px;
}

div.type {
    margin-top: 5px;
    font-size: 18px;
}

.box-icms {
    /* /* background-color: rgba(106, 133, 223, 0.1); */
    color: #5fa6f1
  
 }

 .box-ipva {
    /* background-color: rgba(82, 63, 63, 0.1); */
    color: #9fa5aa;
 
 }
 
 .box-outros {
    /* background-color: rgba(220,231,117,0.4); */
    color: #b08dcc;

 }
 .box-itcd {
    /* background-color: rgba(18, 71, 67, 0.2); */
    color: #60e7bc;

 }
 .box-irrf {
    background-color: rgba(106, 133, 223, 0.1);
    color: #33b6ca;
 
 }
 .box-taxas {
    background-color: rgba(106, 133, 223, 0.1);
    color: #f8dc86;
 
 }


 .flex-icms {
     background-color: #007bff;
 }
 
 .flex-ipva {
    background-color: #6c757d;
}
.flex-itcd {
    background-color: #28a745;
}
.flex-irrf {
    background-color: #17a2b8;
}
.flex-taxas {
    background-color: #ffc107;
}

.flex-outros {
     background-color:#6f42c1;
}

 
 div.dashborad-content-arrecada {
    /* border: 1px solid red; */
    padding: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 5px;

}
.dashboard-flex-parent-arrecada{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


}
.dashboard-box-arrecada {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 49%;
    height: 450px;
    /* max-width: 120; */
    border-radius: 8px;
    color: #f5f5f5;
    background-color: #F8F8FF;
}

.container-remessa {
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: space-around;
    height: 180px;

    /* border: 1px solid red; */
    /* background-color: #faf6f5; */
    margin-top: 5px;
    margin-bottom: 10px;
}
.entradas {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    width: 40%;
    /* height: 400%; */
    padding-left: 10px;
    padding-right: 80px;
    margin: 20;
    /* background-color:rgb(241, 223, 199); */

}


.charts-flex-parent {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: space-around;
    height: 400px;


}
.charts-box {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-between;
    width: 49%;
    background-color: white;
    border-radius: 8px;

    /* background-color:rgb(241, 223, 199); */
}


form.input {
    padding: 15px;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    outline: 0;
}

/* html, body {
    margin: 50; 
    padding: 10;
    
    background: #dce1e2;
    font-family: 'Roboto';
} */

/* h1 {
    padding-left: 15px;
    color: white;
}

input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0;
}

.panel {
    position: absolute;
    width: 90%;
    transform: translate(5%);
    border-radius: 8px;
    box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.5);
    overflow: hidden;
}

.input-bar {
    display: flex;
}

.input-bar > select {
    padding: 15px;
    background: white;
    font-size: 16px;
    border: none;
    outline: 0;
    -webkit-appearance: none;
    border-radius: 0px;
}

.container {
    height: 800px;
    margin-left: 10px;
    margin-right: 10px;
    background: white;
    border: 1px solid gainsboro;
    overflow: auto;
}


.get {
    background: #40739e;
    font-size: 18px;
    color: white;
    padding: 15px;
    z-index: 10;
    cursor: pointer;
}

.content {
    padding: 20px 30px 20px 30px;
}