
primary: #007bff  = rgba(0, 123, 255, 1)

secondary: #6c757d  = rgba(108, 117, 125, 1)

success: #28a745 = rgba(40, 167, 69, 1)

info: #17a2b8 =  rgba(23, 162, 184, 1)

warning: #ffc107 = rgba(255, 193, 7, 1)
purple: #6f42c1 = rgba(111, 66, 193, 1)
danger: #dc3545 = rgba(220, 53, 69, 1)
light: #f8f9fa = rgba(248, 249, 250, 1)